{% extends 'base.html' %}
{% block css %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>
{% endblock %}
{% block content %}
    <section class="py-5 mt-4 bg-warning text-light">
        <div class="container">
            <div class="row">
                <h2>How can we help?</h2>
            </div>
        </div>
    </section>
    <section class="services py-5 bg-light text-center">
        <div class="container">
            <div class="row">
                {% for job3 in jobs %}
                    {% for job in job3 %}
                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <a href="{{ url_for('view_job', id=job.id) }}" class="text-body">
                                <div class="card bg-warning mb-3">
                                    <div class="card-body">
                                    <i class="fa material-icons fa-4x ">work</i></br>
                                        <h5>{{job.title}} at {{ job.company }}</h5>
                                        <small class="text-secondary">Expires on {{ job.expiry_date.strftime('%d %B, %Y') }}</small>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                {% endfor %}            
            </div>
        </div>
    </section>
    <section class="pt-2 bg-dark text-light">
        <div class="container">
            <div class="row">
                <p>All Rights Reserved</p>
            </div>
        </div>
    </section>
{% endblock %}