<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Click <a href="{{ url_for('reset_token', token=token, _external=True)}}">this</a> link to reset your password</p>
    <p>This link expires in 30 minutes <br>
        Ignore this mail if you didn't make this request.
    </p>
<br>
<br>
    <p>Best regards</p>
    <h5>Techincal team</h5>
    <h5>Mini Gigs</h5>
</body>
</html>
