{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}">
{% endblock %}

{% block content %}
    <div class="container login-container">
        <div class="row">
            <div class="col-md-6 ads">
                <h1><span id="fl">Mini</span><span id="sl"> Gigs</span></h1>
            </div>
            <div class="col-md-6 login-form">
                <h3>Update Account</h3>
                <form method="post" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    <div class="profile-img">
                        {% if current_user.profile_picture == 'default.jpg' %}
                        <img src="{{ current_user.gravatar() }}" alt="profile">
                        {% else %}
                            <img class="rounded-img" src="{{ url_for('static', filename='profileimages/'+current_user.profile_picture) }}" alt="">
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{form.profile_picture.label(class='form-control-label') }}
                        {% if form.profile_picture.errors %}
                            {{ form.profile_picture(class='form-control-lg is-invalid form-control') }}
                                <div class="invalid-feedback">
                                {% for error in form.profile_picture.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                                </div>
                        {% else %}
                            {{ form.profile_picture(class='form-control-lg form-control') }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{form.resume.label(class='form-control-label') }}
                        {% if form.resume.errors %}
                            {{ form.resume(class='form-control-lg is-invalid form-control') }}
                                <div class="invalid-feedback">
                                {% for error in form.resume.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                                </div>
                        {% else %}
                            {{ form.resume(class='form-control-lg form-control') }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.username.label(class='form-control-label') }} <span style="color: red;">*</span>
                        {% if form.username.errors %}
                            {{ form.username(class='form-control-lg is-invalid form-control') }}
                                <div class="invalid-feedback">
                                    {% for error in form.username.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                        {% else %}
                            {{ form.username(class='form-control-lg form-control') }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.email.label(class='form-control-label') }} <span style="color: red;">*</span>
                        {% if form.email.errors %}
                            {{ form.email(class='form-control-lg is-invalid form-control') }}
                                <div class="invalid-feedback">
                                    {% for error in form.email.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                        {% else %}
                            {{ form.email(class='form-control-lg form-control') }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.fname.label(class='form-control-label') }} <span style="color: red;">*</span>
                        {% if form.fname.errors %}
                            {{ form.fname(class='form-control-lg is-invalid form-control') }}
                                <div class="invalid-feedback">
                                    {% for error in form.fname.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                        {% else %}
                            {{ form.fname(class='form-control-lg form-control') }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.lname.label(class='form-control-label') }} <span style="color: red;">*</span>
                        {% if form.lname.errors %}
                            {{ form.lname(class='form-control-lg is-invalid form-control') }}
                                <div class="invalid-feedback">
                                    {% for error in form.lname.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                        {% else %}
                            {{ form.lname(class='form-control-lg form-control') }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.phone.label(class='form-control-label') }} <span style="color: red;">*</span>
                        {% if form.phone.errors %}
                            {{ form.phone(class='form-control-lg is-invalid form-control') }}
                                <div class="invalid-feedback">
                                    {% for error in form.phone.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                        {% else %}
                            {{ form.phone(class='form-control-lg form-control') }}
                        {% endif %}
                    </div>
                    <div class="form-check">
                        {{ form.is_recruiter(class='form-check-input') }}
                        {{ form.is_recruiter.label(class='form-check-label') }}
                    </div>
                    <div class="form-check">
                        {{ form.is_admin(class='form-check-input') }}
                        {{ form.is_admin.label(class='form-check-label') }}
                    </div>
                    <div class="form-check">
                        {{ form.skills.label(class='form-check-label') }}
                        {{ form.skills(class='form-check-input') }}
                    </div>
                    <div class="form-check">
                        {{ form.interests.label(class='form-check-label') }}
                        {{ form.interests(class='form-check-input') }}
                    </div>
                    <div class="form-group">
                        {{ form.salary.label(class='form-control-label') }} <span style="color: red;">*</span>
                        {% if form.salary.errors %}
                            {{ form.salary(class='form-control-lg is-invalid form-control') }}
                                <div class="invalid-feedback">
                                    {% for error in form.salary.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                        {% else %}
                            {{ form.salary(class='form-control-lg form-control') }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.linkedin_link.label(class='form-control-label') }} <span style="color: red;">*</span>
                        {% if form.linkedin_link.errors %}
                            {{ form.linkedin_link(class='form-control-lg is-invalid form-control') }}
                                <div class="invalid-feedback">
                                    {% for error in form.linkedin_link.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                        {% else %}
                            {{ form.linkedin_link(class='form-control-lg form-control') }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.twitter_link.label(class='form-control-label') }} <span style="color: red;">*</span>
                        {% if form.twitter_link.errors %}
                            {{ form.twitter_link(class='form-control-lg is-invalid form-control') }}
                                <div class="invalid-feedback">
                                    {% for error in form.twitter_link.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                        {% else %}
                            {{ form.twitter_link(class='form-control-lg form-control') }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.facebook_link.label(class='form-control-label') }} <span style="color: red;">*</span>
                        {% if form.facebook_link.errors %}
                            {{ form.facebook_link(class='form-control-lg is-invalid form-control') }}
                                <div class="invalid-feedback">
                                    {% for error in form.facebook_link.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                        {% else %}
                            {{ form.facebook_link(class='form-control-lg form-control') }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.address.label(class='form-control-label') }} <span style="color: red;">*</span>
                        {% if form.address.errors %}
                            {{ form.address(class='form-control-lg is-invalid form-control') }}
                                <div class="invalid-feedback">
                                    {% for error in form.address.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                        {% else %}
                            {{ form.address(class='form-control-lg form-control') }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{form.submit(class="btn btn-primary btn-lg btn-block")}}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}