<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h4>Welcome {{user.fname}} {{user.lname}}</h4>
    {% if not user.is_recruiter %}
    <p style="color: red;">Thanks for joining Mini Gigs, we're glad to have you as one of our users, we hope you land your drem job as soon as possible</p>
    {% else %}
    <p style="color: red;">Thanks for joining Mini Gigs, we're glad to have you as one of our recruiters, we hope you employ someone through our platform as soon as possible</p>
    {% endif %}
    <br>
    <br>
    <br>

    <p>Best regards</p>
    <h5>Director</h5>
    <h5>Mini Gigs</h5>
</body>
</html>